
<ul class="nav nav-tabs">
    <li role="presentation" [ngClass]="{'active':pestanaSeleccionada === 'uno'}">
      <a (click)="cambiarPestana('uno')">Mostrar Clientes</a>
    </li>
    <li role="presentation" [ngClass]="{'active':pestanaSeleccionada === 'dos'}">
      <a (click)="cambiarPestana('dos')">Editar Clientes</a>
    </li>
  </ul>
  
  <div *ngIf="pestanaSeleccionada==='uno'" class="container">
   <app-client-list></app-client-list>
  </div>
  <div *ngIf="pestanaSeleccionada==='dos'" class="container">
   <!-- <app-client-edit></app-client-edit>-->
  </div>