
<div class="panel panel-default">
    <div class="panel-heading">Panel Heading</div>
    <div class="panel-body">
  
<table class="table table-bordered table-striped">
  <thead class="th">
      <tr>
          <td>Cédula</td>
          <td>Nombre</td>
          <td>Apellidos</td>
          <td>Número</td>
          <td>Dirección</td>
          <td>Correo</td>
      </tr>
  </thead>
  <tbody class="td">
      <tr *ngFor="let client of clients">
          <td>{{client.idClient}}</td>
          <td>{{client.clientName}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.phoneNumber}}</td>
          <td>{{client.address}}</td>
          <td>{{client.email}}</td>
      </tr>
  </tbody>
</table>
</div>
</div>